body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin: auto;
    max-width: 980px;
    background-color: #303030;
    color: white;

}

.card {
    display: flex;
}

.char {
    height: 250px;
    width: 200px;
    border: 2px black solid;
    text-align: center;
}

img {
    max-height: 100%;
    max-width: 100%;
    height: 150px;
    width: 200px;
    object-fit: contain;
}

